# This file contains environment variables that are required for the application to run.
# Copy this file to .env and fill in the values for your environment.

# Get your key from https://aistudio.google.com/app/apikey
GEMINI_API_KEY=
